<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catnest.user.mapper.CnUserMapper">

    <resultMap id="BaseResultMap" type="com.catnest.user.domain.CnUser">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
            <result property="userSts" column="user_sts" jdbcType="INTEGER"/>
            <result property="registerDt" column="register_dt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,user_password,
        user_sts,register_dt
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cn_user
        where  user_id = #{userId,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from cn_user
        where  user_id = #{userId,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="com.catnest.user.domain.CnUser" useGeneratedKeys="true">
        insert into cn_user
        ( user_id,username,user_password
        ,user_sts,register_dt)
        values (#{userId,jdbcType=INTEGER},#{username,jdbcType=VARCHAR},#{userPassword,jdbcType=VARCHAR}
        ,#{userSts,jdbcType=INTEGER},#{registerDt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="com.catnest.user.domain.CnUser" useGeneratedKeys="true">
        insert into cn_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId != null">user_id,</if>
                <if test="username != null">username,</if>
                <if test="userPassword != null">user_password,</if>
                <if test="userSts != null">user_sts,</if>
                <if test="registerDt != null">register_dt,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
                <if test="username != null">#{username,jdbcType=VARCHAR},</if>
                <if test="userPassword != null">#{userPassword,jdbcType=VARCHAR},</if>
                <if test="userSts != null">#{userSts,jdbcType=INTEGER},</if>
                <if test="registerDt != null">#{registerDt,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.catnest.user.domain.CnUser">
        update cn_user
        <set>
                <if test="username != null">
                    username = #{username,jdbcType=VARCHAR},
                </if>
                <if test="userPassword != null">
                    user_password = #{userPassword,jdbcType=VARCHAR},
                </if>
                <if test="userSts != null">
                    user_sts = #{userSts,jdbcType=INTEGER},
                </if>
                <if test="registerDt != null">
                    register_dt = #{registerDt,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   user_id = #{userId,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.catnest.user.domain.CnUser">
        update cn_user
        set 
            username =  #{username,jdbcType=VARCHAR},
            user_password =  #{userPassword,jdbcType=VARCHAR},
            user_sts =  #{userSts,jdbcType=INTEGER},
            register_dt =  #{registerDt,jdbcType=TIMESTAMP}
        where   user_id = #{userId,jdbcType=INTEGER} 
    </update>
</mapper>
